<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>K-Voter- Meta-voting</title>
    <link href="{{ url_for('static', filename='css/bootstrap-3.2.0/css/bootstrap.css') }}" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>
    {%- block topbar -%}
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">K-Voter</a> <small>Crowdsourcing democracy- welcome to meta-democracy</small>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
